/*
TemplateMo 552 Video Catalog
https://templatemo.com/tm-552-video-catalog
*/

:root {
    --cheetah: #DFA903;
    /*var(--cheetah);*/
    --dark-bay: #121317
        /*RGB(5, 27, 37)*/
    ;
    /*var(--dark-bay);*/
    --dark-bay1: #121317
        /*RGB(22, 45, 56)*/
    ;
    /*var(--dark-bay1);*/
    --fairing: #FBFAF8;
    /*var(--fairing);*/
    --dunes: #8A6831;
    /*var(--dunes);*/
    --bay-blue: #121317
        /*rgb(57, 78, 87)*/
    ;
    /*var(--bay-blue);*/
    --carbon-fiber: #121317;
    /*var(--carbon-fiber);*/
    --carbon-fiber1: #414245;
    /*var(--carbon-fiber1);*/
    --carbon-fiber2: #717174;
    /*var(--carbon-fiber2);*/
    --carbon-fiber3: #A0A1A2;
    /*var(--carbon-fiber3);*/
    --aluminum: #E6E8E6;
    /*var(--aluminum);*/
    --hot-orange: RGB(184, 64, 24);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    /*book*/
    font-size: 1rem;
    line-height: 2em;
    overflow-x: hidden;
    background-color: var(--fairing);
    text-rendering: optimizeLegibility;
}

/*ANIMATED MARQUEE*/
.marquee {
    font-size: 5rem;
    margin: 0 auto;
    padding-top: 2rem;
    white-space: nowrap;
    overflow: hidden;
    height: 5rem;
    color: var(--cheetah)
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/*END OF ANIMATED MARQUEE*/


/*ANIMATED SLIDESHOW*/
div.position-relative {
    height: 50rem;
    background-color: var(--carbon-fiber);
}

div.position-relative-narrow {
    height: 50rem;
    background-color: var(--carbon-fiber);
}

div.imgbox {
    display: flex;
    align-items: top center;
    height: 100%;
    width: 100%;
    background-position: top;
    background-size: cover;
}

#img1 {
    position: absolute;
    background-position: center;
    z-index: 3;
    animation: xfade 15s -0s infinite;
    animation-timing-function: ease-in-out;
}

#img2 {
    position: absolute;
    z-index: 2;
    animation: xfade 15s -5s infinite;
    animation-timing-function: ease-in-out;
}

#img3 {
    position: absolute;
    z-index: 1;
    animation: xfade 15s -10s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes xfade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*END OF ANIMATED SLIDESHOW*/

/*MY CAROUSEL*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-radius: .25rem;
    padding: .5rem;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:hover,
.carousel-button:focus {
    color: rgba(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-button:focus {
    outline: 1px solid var(--carbon-fiber);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/*END OF MY CAROUSEL*/


/*carousel*/
hr.line-icon {
    position: absolute;
    top: 1rem;
    left: 0px;
    width: 322px;
    height: 3px;
    object-fit: contain;
    background-color: var(--cheetah);
    border-radius: 0;
}

h3.year {
    color: var(--cheetah);
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    font-weight: 800;
}

div.text-below h3 {
    color: var(--bay-blue);
}

.year-and-line {
    width: 322px;
    position: relative;
    height: 2.75rem;
    max-width: 463px;
}

.thumbnail-image-icon {
    width: 18.75rem;
    position: relative;
    height: 10rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.text-below {
    height: 10rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-fill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.2rem;
    padding-top: .75rem;
    box-sizing: border-box;
}

.event-card {
    width: 18.75rem;
    height: 22rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffff;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    box-shadow: 1px 1px .25rem var(--carbon-fiber, .1);
}

.card-timeline-mobile {
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .25rem;
    scroll-snap-align: start;
}

.horizontal-carousel {
    width: 100%;
    position: relative;
    height: 27rem;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    margin-top: 2rem;
}

/* END OF CAROUSEL */


a {
    transition: all 0.3s ease;
    color: var(--carbon-fiber);
}

a:hover {
    color: var(--carbon-fiber2);
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    box-shadow: 1px 1px .25rem var(--carbon-fiber3, .1);
    border-radius: .25rem;
}

img.no-shadow {
    box-shadow: none;
}

img.icon {
    box-shadow: none;
    padding-bottom: 2rem;
    width: 95%;
    border-radius: 0rem;
}

img.unrounded {
    border-radius: 0rem;
    box-shadow: none;
}

img.circle {
    width: 100%;
    border-radius: 5rem;
}

div.fill-container {
    height: 100%;
    width: 100%;
    background-color: var(--bay-blue);
    background-image: url(../img/colorado/team_crouching.jpg);
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    /*background-size: cover;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

figcaption {
    font-family: "roboto mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: .8rem;
    line-height: 1.2rem;
    color: var(--carbon-fiber3);
    padding: .5rem 0rem 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    color: var(--carbon-fiber1);
}

p.no-space-after {
    margin-bottom: 0rem;
}

p span {
    font-style: italic;
}

p.center {
    text-align: center;
}

p.credits {
    font-size: .75rem;
    line-height: .9rem;
    color: var(--carbon-fiber3);
    text-align: left;
    margin-bottom: 1rem;
}

blockquote p {
    font-family: "Archivo", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.65rem;
    line-height: 2.2rem;
    letter-spacing: .05rem;
    text-align: left;
    color: var(--carbon-fiber);
}

h1 {
    font-family: "Archivo", sans-serif;
    font-weight: 200;
    font-size: min(9vw, 5rem);
    line-height: 100%;
    letter-spacing: .1rem;
    color: var(--fairing);
    text-align: left;
    /*text-shadow: -.15rem .15rem .05rem rgba(184, 64, 24, 0.895), -.33rem .33rem .1rem rgba(35, 27, 191, 0.629);*/
}

h1.expand {
    font-family: "Archivo", sans-serif;
    font-weight: 200;
    font-style: normal;
    /* Scales the font size based on 10% of the viewport's width */
    font-size: clamp(5rem, 10vw, 10rem);
    line-height: 100%;
    /* Prevents the text from wrapping, forcing it onto one line */

    letter-spacing: .1rem;
    color: var(--fairing);
    text-align: left;
    /*text-shadow: -.15rem .15rem .05rem rgba(184, 64, 24, 0.895), -.33rem .33rem .1rem rgba(35, 27, 191, 0.629);*/
}

h2 {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: .05rem;
    padding-bottom: 1rem;
    color: var(--carbon-fiber);
    text-align: left;
}

h2 span {
    font-style: italic;
    color: var(--carbon-fiber2);
}

h2.no-space {
    /*no padding on top*/
    padding: 0rem 0rem 0rem;
}

h2.space-before {
    padding-top: 1rem;
}

h2.decorative {
    font-size: 7.5rem;
    letter-spacing: -1rem;
    line-height: 6.5rem;
    text-align: right;
}

h2.quote {
    font-size: 20rem;
    margin-top: 7rem;
    line-height: 0rem;
    padding: 0rem 0rem 0rem;
    text-align: right;
}

h3 {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    color: var(--bay-blue);
    font-size: .9rem;
    letter-spacing: .1rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
}

h3.space-above {
    padding-top: 2rem;
}

h3.space-below {
    padding-bottom: 2rem;
}

h3.aside {
    padding: 0rem;
    text-align: left;
    width: 100%;
}

.rectangle {
    background: var(--cheetah);
    border-radius: .25rem;
    padding: 1rem;
    margin-top: 3rem;
    /*border: 1px solid var(--dunes);*/
    width: 100%;
    aspect-ratio: auto 15/.5;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.15rem;
    line-height: 1.5rem;
    color: var(--carbon-fiber2);
    margin: 0rem 0rem 1.5rem;
    padding-left: 1rem;
    border-left: 3px solid var(--carbon-fiber2);

}

h4.space-above {
    margin: 1.5rem 0rem 1.5rem;
}

div.background-dark h4.space-above,
div.background-dark h4.no-border,
div.background-dark h2,
div.background-mid h2,
div.background-mid blockquote p,
div.background-dark blockquote p {
    color: var(--fairing);
}

h4.no-border {
    padding-left: 0rem;
    margin: 0rem 0rem 3rem;
    border: none;
}


h5 {
    font-weight: 600;
    color: var(--carbon-fiber);
    font-size: .875rem;
    letter-spacing: .05rem;
    line-height: 1.85rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
}

.tm-site-header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0rem 1rem;
    /* background-color: var(--carbon-fiber);*/
}

.col-5 {
    height: 1rem;
}

.tm-logo-container {
    display: block;
    width: 9rem;
    padding-top: .5rem;
}

/*.tm-site-logo { font-size: 3rem; }*/

.tm-welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /* padding-top: 3rem;*/
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

div.text-center {
    /*home page header (welcome) text container*/
    justify-content: left;
    width: 50%;
    padding: 7rem 2rem;
}

.tm-welcome-text {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.75rem;
    padding-top: .5rem;
    color: var(--fairing);
    text-align: left;
}

#tm-video-container {
    /*max-height: 35rem;*/
    overflow: hidden;
    background-color: var(--carbon-fiber);
    /*space between video header and intro section*/
}

.container-fluid {
    padding-top: 0rem;
    padding-bottom: 3rem;
    max-width: 1000px;
    /*width of page content*/
}

.section-container {
    max-width: 1000px;
    margin: auto;
    /*width of page content*/
}

.section-container-padded-top {
    max-width: 1000px;
    margin: auto;
    /*padding-top: 3rem;*/
    /*width of page content*/
}

/*row*/
.row {
    padding: 0rem .5rem;
    margin-top: 0;
    justify-content: center;
}

.row-video-player {
    padding: 0rem 1rem;
}


.position-relative-header {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    justify-content: center;
    max-width: none;
}

#tm-video {
    /*header video*/
    width: 100%;
    height: auto;
    opacity: 10%;
}

.background-dark {
    background-color: var(--dark-bay1);
    padding-bottom: 0rem;
}

.background-mid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/colorado/six_mile_lane2.jpg);
    background-position: center;
    background-color: var(--cheetah);
    padding-bottom: 0rem;
}

.background-light {
    background-color: var(--aluminum);
    position: relative;
}

/*logo and drop-down menu buttons*/
.tm-bg-black {
    /*background-color: rgba(0,0,0,0.5);*/
    color: var(--fairing);
}

/*secondary body text)*/
.tm-text-secondary {
    color: var(--bay-blue);
}

.tm-nav-link {
    color: var(--fairing);
    font-size: .75rem;
    font-weight: 350;
    letter-spacing: .1rem;
    line-height: 1rem;
}

#tm-main-nav .nav-item .nav-link {
    border-bottom: 1px solid transparent;
}

#tm-main-nav .nav-item.active .nav-link,
#tm-main-nav .nav-item:hover .nav-link {
    border-bottom: 1px solid var(--fairing);
    /*font-weight: 600;*/
    color: var(--fairing);
}

/*BUTTONS AND HYPERLINKS*/
a {
    color: inherit;
}

a.underline {
    transition: background-color 0.3s ease;
    text-decoration: underline;
}

a.underline:hover {
    text-decoration: underline;
}

a.highlight {
    font-family: "roboto mono", monospace;
    font-size: .85rem;
    font-weight: 400;
    padding: .25rem .2rem .05rem;
    transition: color 0.1s ease-out;
    color: var(--carbon-fiber);
}

a.highlight:hover {
    color: var(--carbon-fiber2);
}

a.btn {
    font-family: "roboto mono", monospace;
    font-size: .85rem;
    font-weight: 400;
    color: var(--carbon-fiber);

    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem .9rem;
    border: 1px solid var(--carbon-fiber);
    background-color: var(--fairing);
    cursor: pointer;
}

a.btn:hover {
    background-color: var(--carbon-fiber);
    color: var(--fairing);
}

/*
    Button hover effect: https://tympanus.net/Development/CreativeButtons/
*/

a.btn-animate {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
}

.btn-animate:before {
    left: 0;
    top: -100%;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.btn-animate:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-animate:hover:before {
    top: 13px;
}

.btn-animate span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.btn-animate:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

/* BUTTON TOP OF PAGE*/
.tm-btn-cta {
    color: var(--fairing);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}

.tm-btn-cta:before {
    font-size: 180%;
}

.tm-btn-download:before {
    font-size: 120%;
}

.tm-btn-submit:before {
    font-size: 120%;
}

.tm-icon-down:before {
    content: '\f078';
}

.tm-icon-download:before {
    content: '\f019';
}

.tm-icon-submit:before {
    content: '\f1d8';
}

.tm-icon-submit:hover:before {
    top: 18px;
}

.tm-btn-cta:hover {
    color: var(--fairing);
}

.tm-btn-download:hover,
.tm-btn-download:focus,
.tm-btn-submit:hover,
.tm-btn-submit:focus {
    color: var(--fairing);
    background-color: var(--dunes);
}

.tm-btn-download span {
    padding-top: 10px;
}

/*OUTLINED BUTTON*/
.tm-btn-small {
    padding: 10..25rem 3.25rem;
    font-size: 1.2rem;
}

#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/*.tm-content-container {
    max-width: 57.5rem;
    padding-bottom: 1.5rem;
}
*/

/* end of align title baselines */

.tm-catalog-item-list {
    justify-content: space-between;
    column-gap: 1rem;
    margin-top: 1rem;
}

.tm-catalog-item {
    max-width: 29.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    padding: 0rem;
    box-shadow: 1px 1px .25rem var(--carbon-fiber3, .1);
    background-color: var(--aluminum);
    border-radius: .25rem;
}

.tm-thumbnail-container {
    overflow: hidden;
    border-radius: .25rem .25rem 0px 0px;
}

.tm-thumbnail-container img {
    transition: all 0.3s ease;
}

.tm-thumbnail-container:hover img {
    transform: scale(1.2);
}

.tm-img-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.tm-overlay-icon {
    color: #A0A6A0;
    opacity: 1;
    font-size: 2rem;
    padding: 10px 1.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    z-index: 1002;
    transition: all 0.3s ease;
}

.overlay-icon-small {
    color: #A0A6A0;
    opacity: 1;
    font-size: 1.5rem;
    padding: 10px 1.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    z-index: 1002;
    transition: all 0.3s ease;
}

.tm-img-overlay:hover {
    background-color: transparent;
}

.tm-img-overlay:hover .tm-overlay-icon .overlay-icon-small {
    opacity: 0;
}

.tm-catalog-item-description {
    flex: 1;
}

.tm-categories-container {
    display: flex;
    align-items: center;
}

.tm-categories-text {
    margin-right: 16px;
}

.tm-category-list {
    font-size: 1.75rem;
}

.tm-category-item {
    margin: 16px;
}

.tm-category-link {
    color: var(--dunes);
    padding: 10px;
    border-bottom: 3px solid transparent;
}

.tm-category-link.active,
.tm-category-link:hover {
    border-bottom: 3px solid var(--dunes);
    color: var(--dunes);
}

.tm-paging-link {
    background-color: var(--fairing);
    margin-right: 12px;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*TOP MENU*/
.nav-item.active>.tm-paging-link,
.nav-item:hover>.tm-paging-link {
    background-color: #CCC;
    color: var(--carbon-fiber2);
}

.tm-subscribe-form {
    display: flex;
    align-items: center;
}

.tm-subscribe-form>input {
    padding: .25rem 1.25rem;
    margin-right: 20px;
    flex: 1;
    max-width: 382px;
}

footer {
    background-color: var(--dark-bay);
    width: 100%;
    padding: 1.5em 1.75rem 1.5rem;
    margin-top: 0rem;
}

.text-credits {
    text-align: center;
    font-size: .6rem;
    line-height: 1.25rem;
    color: var(--carbon-fiber2);
    padding: 0rem 0rem;
}

.tm-footer-links>li {
    margin: 0rem;
    text-transform: uppercase;
}

/*Video detail page*/

.tm-share-box {
    font-size: 1.4rem;
    padding: 3rem;
}

.tm-share-box-title {
    font-size: 1.5rem;
}

.tm-bg-white {
    background-color: var(--fairing);
    border: 1px solid #CDCECF;
    border-radius: .25rem;
}

.tm-share-button {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.tm-share-button:last-child {
    margin-right: 0;
}

.tm-text-link {
    color: var(--dunes);
}

.tm-likes-box,
.tm-btn-download {
    width: 280px;
    height: 60px;
}

.tm-likes-box {
    padding-top: 12px;
}

.tm-video-description-box {
    max-width: 57.5rem;
}

div.youtube-embed {
    display: flex;
    justify-content: center;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
    border: 0px;
    border-radius: .25rem;
    box-shadow: 1px 1px .25rem var(--carbon-fiber3, .1);
}



.col-lg-7 {
    /*LEFT COLUMN*/
    flex: 0 0 60%;
    max-width: 600px;
    padding: 0;
}

.col-lg-5 {
    /*RIGHT COLUMN*/
    flex: 0 0 40%;
    max-width: 400px;
    align-content: top;
    margin-bottom: 3rem;
    padding-left: 1rem;

}

main.gallery {
    position: relative;
    overflow: hidden;
    grid-column: 1/3;
    padding-bottom: calc(66% + 3em);
}

nav.archive {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: .2em;
}

figure.gallery {
    margin: 0;
    width: calc(100% + 1em);
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

input:nth-of-type(1):checked~main figure:nth-of-type(1),
input:nth-of-type(2):checked~main figure:nth-of-type(2),
input:nth-of-type(3):checked~main figure:nth-of-type(3),
input:nth-of-type(4):checked~main figure:nth-of-type(4),
input:nth-of-type(5):checked~main figure:nth-of-type(5),
input:nth-of-type(6):checked~main figure:nth-of-type(6),
input:nth-of-type(7):checked~main figure:nth-of-type(7),
input:nth-of-type(8):checked~main figure:nth-of-type(8),
input:nth-of-type(9):checked~main figure:nth-of-type(9),
input:nth-of-type(10):checked~main figure:nth-of-type(10) {
    opacity: 1;
}

input {
    display: none;
}

.col-title {
    width: 100%;
    margin-bottom: .5rem;
}

.col-main {
    /*LEFT COLUMN*/
    flex: 0 0 75%;
    max-width: 57.5rem;
    padding-bottom: .5rem;
    justify-content: left;
    padding-left: 0rem;
    margin-bottom: 3rem;
}

.text-container {
    /*PARENT OF .TEXT*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5rem 1.75rem 5rem;
    border-bottom: .25rem solid var(--aluminum);
}

.text-container-no-border {
    /*PARENT OF .TEXT*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5rem 1.75rem 5rem;
    margin-top: 0rem;
}

.text {
    flex: 0 0 50%;
    padding-bottom: .5rem;
    justify-content: left;
    max-width: 400px;
}

div.wide {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1200px;
    padding: 5rem 1.75rem 5rem;
}

div.wide-unpadded {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1200px;
    padding: 0rem 0rem 0rem 1.75rem;
}

.col-left {
    /*LEFT COLUMN*/
    flex: 0 0 50%;
}

.col-right {
    /*RIGHT COLUMN*/
    flex: 0 0 50%;
    padding-left: 1.5rem;
}

.col-right-caption {
    /*RIGHT COLUMN*/
    flex: 0 0 60%;
    max-width: 25rem;
    padding-left: 1.5rem;
}

.col-thirds {
    flex: 0 0 33.33%;
    max-width: 57.5rem;
    padding-right: 1.5rem;
}

.col-thirds-last {
    flex: 0 0 33.33%;
    max-width: 57.5rem;
    padding-right: 0rem;
}

.col-forty {
    /*LEFT COLUMN*/
    flex: 0 0 40%;
    padding-bottom: 0rem;
}

.col-sixty {
    /*RIGHT COLUMN*/
    flex: 0 0 60%;
    padding-left: 2rem;
}

div.text-padded-left {
    float: right;
    padding: 5rem 0rem;
}

.col-aside-wide {
    /*RIGHT COLUMN*/
    flex: 0 0 25%;
    max-width: 57.5rem;
    align-content: top;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.col-aside-mobile {
    display: none;
}

nav.gallery {
    display: grid;
    grid-row: 1/3;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 3fr;
    grid-column-gap: .5em;
}

.col-md-4 {
    padding: 0;
}

.tm-text-gray {
    color: #6F7071;
}

.tm-fixed-header-1 .overlay,
.tm-fixed-header-2 .overlay,
.tm-fixed-header-3 .overlay,
.tm-fixed-header-4 .overlay,
.tm-fixed-header-5 .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.tm-fixed-header {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*#tm-fixed-header-bg {
}*/

/* home page*/
.tm-fixed-header-1 {
    background-color: none;
}

.tm-fixed-header-2 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/gears.jpg);
    background-color: var(--bay-blue);
    padding-top: 3rem;
    height: 30rem;
}

.tm-fixed-header-3 {
    position: relative;
    background-color: var(--fairing);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/header_racetrack_conceptz.jpg);
    background-color: var(--bay-blue);
    padding-top: 3rem;
    height: 30rem;
}

.tm-fixed-header-4 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/header_newspaper.jpg);
    background-color: var(--bay-blue);
    padding-top: 3rem;
    height: 30rem;
}

.tm-fixed-header-5 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/sixmilelane_road_header.jpg);
    background-color: var(--bay-blue);
    padding-top: 3rem;
    height: 30rem;
}

video {
    width: 100%;
    height: auto;
}


/* p styles*/

p.tm-catalog-item-text {
    font-size: .85rem;
}

p.white {
    color: var(--fairing);
}



.tm-welcome-text-2 {
    font-size: calc(4vw + 4vh + 2vmin);
    /* See:
     * https://codepen.io/CrocoDillon/pen/jgmwt
     * For some math behind this
     */
}

.tm-share-button:hover {
    background-color: #e9ecef;
}

/*About*/
.tm-about-text-container {
    max-width: 800px;
    padding-bottom: .5rem;
    padding-top: 0rem;
}

.parallax-window {
    min-height: 270px;
    background: transparent;
}

.parallax-window-2 {
    min-height: 360px;
}

.tm-about-icon {
    color: #999;
}

/* Contact */
.mapouter {
    position: relative;
    text-align: right;
    height: 540px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 540px;
    width: 100%;
}

.form-control {
    font-size: 1.2rem;
    padding: 21px 2.25rem;
}

.form-group {
    margin-bottom: 3.25rem;
}

#contact-select {
    height: 60px;
    border-radius: 0;
}

#contact-select:not([multiple]) {
    /*-webkit-appearance: none;
  -moz-appearance: none;*/
    background-position: right 1.25rem center;
    background-repeat: no-repeat;
    background-image: url(../img/select-arrow.png);
    padding: 14px 20px;
    padding-right: 20px;
    color: #666;
}

.tm-testimonial-text {
    max-width: 420px;
    font-style: italic;
}



/* MEDIA QUERIES BEGIN */

@media (min-width: 992px) {

    /*anything larger than mobile size*/
    #tm-main-nav .nav-item {
        margin: 0rem 0rem 0rem 2rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .75rem 0rem 0rem;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

@media (max-width: 1419px) {
    .tm-catalog-item {
        margin-bottom: 6rem;
        max-width: 290px;
    }
}

@media (max-width: 991px) {
    .navbar {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }

    .navbar-collapse {
        background-color: var(--carbon-fiber);
        opacity: 85%;
        border-radius: .25rem;
        border-top-right-radius: 0;
        padding: 1rem 1.5rem;
        width: 100%;
    }

    .nav-item {
        margin-bottom: 1rem;
    }

    .navbar-toggler {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 52px;
        height: 40px;
    }

    .navbar-toggler.collapsed {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .navbar-toggler i.tm-menu-opened-icon {
        display: block;
    }

    .navbar-toggler i.tm-menu-closed-icon {
        display: none;
    }

    .navbar-toggler.collapsed i.tm-menu-opened-icon {
        display: none;
    }

    .navbar-toggler.collapsed i.tm-menu-closed-icon {
        display: block;
    }

    #tm-fixed-header-bg {
        height: 18rem;
    }

    #tm-video {
        width: 888px;
        height: 500px;
    }

    .tm-logo-container {
        width: 9rem;
    }

    .tm-catalog-item-list {
        max-width: 924px;
        justify-content: left;
        column-gap: 1.5rem;
    }

    .tm-catalog-item {
        max-width: 400px;
    }

    .tm-share-box {
        max-width: 924px;
    }
}

@media (max-width: 50rem) {
    div.text-center {
        width: 100%;
    }

    div.fill-container {
        height: 23rem;
    }
}

@media (max-width: 40rem) {
    .tm-categories-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .col-forty {
        /*LEFT COLUMN*/
        flex: 0 0 100%;
        margin-bottom: 0;
        padding-right: 0rem;
    }

    .col-sixty {
        /*RIGHT COLUMN*/
        flex: 0 0 100%;
        padding-left: 0rem;
    }

    div.text-padded-left {
        float: left;
        padding: 5rem 1.75rem 2rem;
        width: 100%;
        max-width: none;
    }

    h1 {
        font-size: 4rem;
    }

    h1.expand {
        font-size: clamp(2rem, 15vw, 5rem);
    }


    h2.no-space {
        padding-top: 0rem;
        border-top: none;
    }

    /*
    .tm-subscribe-form {
        flex-direction: column;
        align-items: stretch;
    }

    .tm-subscribe-form>input {
        max-width: 100%;
    }

    .tm-subscribe-form input {
        margin-right: 0;
        margin-bottom: 1.25rem;
    }

    .tm-share-box {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .col-lg-7 {
        flex: 0 0 100%;
    }

    .col-lg-5 {
        flex: 0 0 100%;
        padding: 0;
    }
    */

    nav.gallery {
        /*horizontal*/
        display: grid;
        grid-column: 1/3;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: .5rem;
        height: 9rem;
    }

    .col-main {
        /*LEFT COLUMN*/
        flex: 0 0 100%;
        margin-bottom: 0;
        padding-right: 0rem;
        padding-left: 0rem;
    }

    div.wide {
        padding: 5rem 1.75rem 5rem;
    }

    div.wide-unpadded {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        max-width: 1200px;
        padding: 0rem;
    }


    .col-left {
        /*LEFT COLUMN*/
        flex: 0 0 100%;
        margin-bottom: 1rem;
        padding-right: 0rem;
    }

    .col-right {
        /*RIGHT COLUMN*/
        flex: 0 0 100%;
        padding-left: 0rem;
    }

    .col-right-caption {
        /*RIGHT COLUMN*/
        flex: 0 0 100%;
        max-width: none;
        padding-left: 0rem;
        padding-top: 1.5rem
    }

    .col-thirds {
        flex: 0 0 100%;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--carbon-fiber3);
        justify-content: left;
    }

    .col-thirds-last {
        flex: 0 0 100%;
        margin-bottom: 3rem;
        justify-content: left;
    }

    img.icon {
        width: 30%;
    }

    h2.decorative{
        text-align: left;
    }

    h2.quote {
        font-size: 20rem;
        margin-top: 7rem;
        line-height: 0rem;
        padding: 0rem 0rem 0rem;
        text-align: center;
    }

    .text-container {
        columns: 1;
        padding: 3rem 1.75rem 3rem;
    }

    .text-container-no-border {
        columns: 1;
        padding: 3rem 1.75rem 3rem;
    }

    .text {
        flex: 0 0 100%;
    }

    .col-aside-mobile {
        /*RIGHT COLUMN*/
        display: contents;
        flex: 0 0 100%;
        padding-left: 0rem;
        padding-bottom: 3rem;
    }

    .col-aside-wide {
        display: none;
    }

    div.button {
        border-top: none;
    }

    figcaption {
        padding-bottom: 1.5rem;
    }

    h3.aside {
        padding: 1rem 0rem 0rem;
        text-align: left;
        width: 100%;
    }

    .tm-site-name {
        font-size: calc(2vw + 4vh + 2vmin);
        /* See:
         * https://codepen.io/CrocoDillon/pen/jgmwt
         * For some math behind this
         */
    }
}
